.pricing-container{
    display: flex;
    justify-content: center;
    gap: 30px
}
.pricing-plan, .pricing-plan-2{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.plan-title, .plan-price, .plan-button{
    font-weight: 700;
}
.plan-price{
    font-size: 1.5rem;
}
ul{
    list-style: none;
}
.plan-button{
    background-color: orange;
    border: 0px;
    border-radius: 5px;
    padding: 10px;
    color: whitesmoke;
}
@media (max-width: 1250px) {
 .pricing-container{
    flex-direction: column;
    align-items: center;
 }
 .pricing-plan{
 width: 200px;
height: 200px;}
}